<configuration>
	<springProfile name="cloud">
		<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
		<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
		<appender class="ch.qos.logback.core.ConsoleAppender" name="stdout">
			<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
				<layout class="com.dnastack.logback.StackdriverJsonLayout">
					<jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
						<prettyPrint>false</prettyPrint>
					</jsonFormatter>
					<appendLineSeparator>true</appendLineSeparator>
				</layout>
			</encoder>
		</appender>
		<root level="info">
			<appender-ref ref="stdout"/>
		</root>
	</springProfile>
	<springProfile name="!cloud">
		<include resource="org/springframework/boot/logging/logback/base.xml"/>
	</springProfile>
</configuration>